.about-header-div{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3%;;
}

.about-header-text{
    color: white;
    font-size: 30px;
    user-select: none;
}

.how-to-work-wrapper{
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-flow: wrap;
    width: 80vw;
}

.how-to-work-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 11%;
    user-select: none;
}

.how-to-work-num{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: 2px solid;
    border-color: white;
    border-radius: 100px;
    top: 0%;
}

.how-to-work-num-text{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.how-to-work-img-div{
    width: 12.5vw;
    height: 12.5vw;
    margin-top: 40%;
}

.how-to-work-img{
    width: 50%;
    cursor: default;
}

.how-to-work-img-paint{
    width: 55%;
    cursor: pointer;
    margin-left: 15%;
}

.how-to-work-img1{
    margin-top: -1%;
    margin-left: 10%;
    width: 35%;
    cursor: pointer;
}

.how-to-work-text-div
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 90%;
    left: 50%;
}

.how-to-work-text{
    position: absolute;
    color: white;
    font-size: 16px;
    top: 0%;
}


.facades-divider{
    position: absolute;
    width: 100%;
    border-top: 3px solid #4fbfc6;
    z-index: 0;
}

.about-work-wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    user-select: none;
}

.about-work-item{
    position: relative;
    margin: 4%;
    cursor: pointer;
}

.about-work-img-block{
    height: 25.5vh;
    cursor: default;
}

.about-work-img{
    width: 60%;
}

.about-work-blue-text{
    position: absolute;
    color:  #4fbfc6;
    top: 60%;
    left: 0%;
    font-size: 16px;
    cursor: default;
}

.about-work-white-text{
    position: absolute;
    color: white;
    top: 100%;
    left: 0%;
    font-size: 15px;
}

.about-work-white-div-mobile{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 15vh;
}

.about-work-white-text-mobile{
    position: absolute;
    color: white;
    font-size: 15px;
}

.about-promise-block{
    display: flex;
    position: relative;
    margin-top: 15%;
}

.sketch-create{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.sketch-create-header{
    position: absolute;
    color: white;
    font-size: 30px;
    user-select: none;
}

.sketch-create-wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap:  nowrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    transition: all 1s;
}

.sketch-create-gallery-source{
    user-select: none;
    width: 23.8vw;
}

.sketch-create-gallery-done{
    user-select: none;
    width: 23.8vw;
}

.sketch-create-gallery{
    margin: 0 auto;
    margin-top: -0.5%;
}

.sketch-create-gallery-img1{
    filter: brightness(70%);
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    transition: all 1s;
    width: 24.2vw;
}

.sketch-create-gallery-img2{
    filter: brightness(70%);
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    transition: all 1s;
    width: 24.2vw;
} 

.sketch-create-gallery-img3{
    filter: brightness(70%);
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    transition: all 1s;
    width: 24.2vw;
}

.sketch-create-gallery-img1:hover{
    filter: brightness(100%);
}

.sketch-create-gallery-img2:hover{
    filter: brightness(100%);
}

.sketch-create-gallery-img3:hover{
    filter: brightness(100%);
}

.sketch-create-gallery-text-div1{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sketch-create-gallery-text-div2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sketch-create-gallery-text-div3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sketch-create-gallery-num1{
    position: absolute;
    margin-top: 2%;
    font-size: 16px;
    color: white;
    border: 2px solid;
    border-color: white;
    width: 30px;
    border-radius: 100px;
    user-select: none;
}

.sketch-create-gallery-text1{
    position: absolute;
    margin-top: 5%;
    font-size: 16px;
    color: white;
    user-select: none;
}

.sketch-create-gallery-num2{
    position: absolute;
    margin-top: 1%;
    color: white;
    font-size: 16px;
    border: 2px solid;
    border-color: white;
    width: 30px;
    border-radius: 100px;
    user-select: none;
}

.sketch-create-gallery-text2{
    position: absolute;
    margin-top: 4.5%;
    font-size: 16px;
    color: white;
    user-select: none;
}

.sketch-create-gallery-text2-mobile{
    position: absolute;
    margin-top: 4.5%;
    font-size: 16px;
    color: white;
    user-select: none;
    display: none;
}

.sketch-create-gallery-num3{
    position: absolute;
    margin-top: 1.5%;
    color: white;
    font-size: 16px;
    border: 2px solid;
    border-color: white;
    width: 30px;
    border-radius: 100px;
    user-select: none;
}

.sketch-create-gallery-text3{
    position: absolute;
    margin-top: 5%;
    color: white;
    font-size: 16px;
    user-select: none;
}

.sketch-create-gallery-text3-mobile{
    display: none;
    position: absolute;
    margin-top: 5%;
    color: white;
    font-size: 16px;
    user-select: none;
}

.calculate-header-div{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}
.calculate-header{
    position: absolute;
    color: white;
    font-size: 30px;
    user-select: none;
}

.calculate-header-text{
    position: absolute;
    color: white;
    margin-top: 5%;
    font-size: 20px;
    width: 60%;
    user-select: none;
}

.calculate-example-wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15%;
}

.calculate-example-div{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%
}

.calculate-example-star-div{
    margin-top: 3%;
}

.calculate-example-star{
    width: 8%;
    margin: 0.2%;
}

.calculate-example-img{
    margin-top: 1%;
    width: 80%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}

.calculate-example-img:hover{
    cursor:zoom-in;
}

.calculate-example-price{
    margin-top: 2%;
    color: white;
    font-size: 16px;
    user-select: none;
}

.about-footer-info-block{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

@media screen and (max-width: 1300px)
{
    .about-header-text{
        font-size: 29px;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 32px;
        height: 32px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: 0%;
    }
    
    .how-to-work-num-text{
        font-size: 18px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 50%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 35%;
    }
    
    .how-to-work-text-div
    {
        top: 90%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 15px;
        top: 0%;
    }
    
    .about-work-item{

        margin: 4%;
    }
    
    .about-work-img-block{
        height: 25.5vh
    }
    
    .about-work-img{
        width: 60%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 15px;
    }
    
    .about-work-white-text{
        top: 100%;
        left: 0%;
        font-size: 14px;
    }

    .sketch-create-header{
        font-size: 29px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 15px;
        border: 2px solid;
        border-color: white;
        width: 28px;
        border-radius: 100px;
    }

    .sketch-create-gallery-text1{
        margin-top: 5%;
        font-size: 15px;
    }
    
    .sketch-create-gallery-num2{
        margin-top: 1.3%;
        font-size: 15px;
        border: 2px solid;
        border-color: white;
        width: 28px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text2{
        margin-top: 4.5%;
        font-size: 15px;
    }
    
    .sketch-create-gallery-num3{
        margin-top: 1.5%;
        font-size: 15px;
        border: 2px solid;
        border-color: white;
        width: 28px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text3{
        margin-top: 5%;
        font-size: 15px;
    }

    .calculate-header-div{
        margin-top: 20%;
    }
    .calculate-header{
        font-size: 29px;
    }
    
    .calculate-header-text{
        margin-top: 5%;
        font-size: 19px;
    }

    .calculate-example-wrapper{
        margin-top: 20%;
    }
    
}

@media screen and (max-width: 1200px)
{
    .about-header-text{
        font-size: 28px;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 30px;
        height: 30px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: 0%;
    }
    
    .how-to-work-num-text{
        font-size: 16px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 50%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 35%;
    }
    
    .how-to-work-text-div
    {
        top: 90%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 14px;
        top: 0%;
    }

    .about-work-wrapper{
        margin-bottom: 20%;
    }
    
    .about-work-item{

        margin: 4%;
    }
    
    .about-work-img-block{
        height: 25.5vh
    }
    
    .about-work-img{
        width: 58%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 15px;
    }
    
    .about-work-white-text{
        top: 100%;
        left: 0%;
        font-size: 14px;
    }

    .sketch-create-header{
        font-size: 28px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 14px;
        border: 2px solid;
        border-color: white;
        width: 26px;
        border-radius: 100px;
    }

    .sketch-create-gallery-text1{
        margin-top: 5%;
        font-size: 14px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 14px;
        border: 2px solid;
        border-color: white;
        width: 26px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text2{
        margin-top: 4.5%;
        font-size: 14px;
    }
    
    .sketch-create-gallery-num3{
        font-size: 14px;
        border: 2px solid;
        border-color: white;
        width: 26px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text3{
        margin-top: 5%;
        font-size: 14px;
    }

    .calculate-header{
        font-size: 28px;
    }
    
    .calculate-header-text{
        margin-top: 5%;
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px)
{
    .about-header-text{
        font-size: 26px;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 28px;
        height: 28px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 14px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 50%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 35%;
    }
    
    .how-to-work-text-div
    {
        top: 90%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 13px;
        top: 0%;
    }

    .about-work-wrapper{
        margin-bottom: 20%;
    }
    
    .about-work-item{

        margin: 4%;
    }
    
    .about-work-img-block{
        height: 25.5vh;
    }
    
    .about-work-img{
        width: 56%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 14px;
    }
    
    .about-work-white-text{
        top: 100%;
        left: 0%;
        font-size: 13px;
    }

    .sketch-create-header{
        font-size: 27px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 13.5px;
        border: 2px solid;
        border-color: white;
        width: 25px;
        border-radius: 100px;
    }

    .sketch-create-gallery-text1{
        margin-top: 5%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 13.5px;
        border: 2px solid;
        border-color: white;
        width: 25px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text2{
        margin-top: 4.5%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num3{
        font-size: 13.5px;
        border: 2px solid;
        border-color: white;
        width: 25px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text3{
        margin-top: 5%;
        font-size: 13.5px;
    }

    .calculate-header{
        font-size: 27px;
    }
    
    .calculate-header-text{
        margin-top: 6%;
        font-size: 17px;
    }
}

@media screen and (max-width: 1000px)
{
    .about-header-text{
        font-size: 25px;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 25px;
        height: 25px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 13px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 50%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 35%;
    }
    
    .how-to-work-text-div
    {
        top: 90%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 13px;
        top: 0%;
    }

    .about-work-wrapper{
        margin-bottom: -15%;
    }
    
    .about-work-item{

        margin: 3%;
    }
    
    .about-work-img-block{
        height: 25.5vh;
    }
    
    .about-work-img{
        width: 50%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 14px;
    }
    
    .about-work-white-text{
        display: none;
    }

    .about-promise-block{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .sketch-create-header{
        font-size: 25px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 13px;
        border: 2px solid;
        border-color: white;
        width: 24px;
        border-radius: 100px;
    }

    .sketch-create-gallery-text1{
        margin-top: 7%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 13px;
        border: 2px solid;
        border-color: white;
        width: 24px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text2{
        margin-top: 6.5%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num3{
        font-size: 13px;
        border: 2px solid;
        border-color: white;
        width: 24px;
        border-radius: 100px;
    }
    
    .sketch-create-gallery-text3{
        display: none;
    }

    .sketch-create-gallery-text3-mobile{
        display: inline;
        margin-top: 7%;
        font-size: 13.5px;
    }

    .calculate-header-div{
        margin-top: 20%;
        margin-bottom: 17%;
    }

    .calculate-header{
        font-size: 26.5px;
    }
    
    .calculate-header-text{
        margin-top: 6%;
        font-size: 16.5px;
    }

    .how-to-work-img-paint{
        width: 58%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 900px)
{
    .about-header-text{
        font-size: 24px;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 23px;
        height: 23px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 12px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 50%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 35%;
    }
    
    .how-to-work-text-div
    {
        top: 90%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 13px;
        top: 0%;
    }
    
    .about-work-wrapper{
        margin-bottom: -15%;
    }
    
    .about-work-item{
        margin: 2%;
    }
    
    .about-work-img-block{
        height: 25.5vh;
    }
    
    .about-work-img{
        width: 45%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 14px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 13px;
        width: 24px;
    }

    .sketch-create-gallery-text1{
        margin-top: 7%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 13px;
        width: 24px;
    }
    
    .sketch-create-gallery-text2{
        display: none;
    }

    .sketch-create-gallery-text2-mobile{
        margin-top: 6.5%;
        font-size: 13.5px;
        display: inline;
    }
    
    .sketch-create-gallery-num3{
        font-size: 13px;
        width: 24px;
    }
    
    .sketch-create-gallery-text3{
        display: none;
    }

    .sketch-create-gallery-text3-mobile{
        display: inline;
        margin-top: 7%;
        font-size: 13.5px;
    }

    .calculate-header-div{
        margin-top: 23%;
        margin-bottom: 20%;
    }

    .calculate-header{
        font-size: 25px;
    }
    
    .calculate-header-text{
        margin-top: 6%;
        font-size: 15px;
    }
}

@media screen and (max-width: 800px)
{
    .about-header-text{
        font-size: 23px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 23px;
        height: 23px;
        font-size: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
        top: -10%;
    }
    
    .how-to-work-num-text{
        font-size: 12px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 40%;
    }
    
    .how-to-work-img{
        width: 60%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 40%;
    }
    
    .how-to-work-text-div
    {
        top: 100%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 13px;
        top: 0%;
    }

    .about-work-wrapper{
        margin-bottom: -15%;
    }
    
    .about-work-item{
        margin: 1%;
    }
    
    .about-work-img-block{
        height: 25.5vh;
    }
    
    .about-work-img{
        width: 40%;
    }
    
    .about-work-blue-text{
        top: 65%;
        left: 0%;
        font-size: 13px;
    }

    .sketch-create-header{
        font-size: 24px;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 12px;
        border: 2px solid;
        border-color: white;
        width: 22.5px;
        border-radius: 100px;
    }

    .sketch-create-gallery-text1{
        margin-top: 7%;
        font-size: 13.5px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 12px;
        width: 22.5px;
    }
    
    .sketch-create-gallery-text2{
        display: none;
    }

    .sketch-create-gallery-text2-mobile{
        margin-top: 6.5%;
        font-size: 13.5px;
        display: inline;
    }
    
    .sketch-create-gallery-num3{
        font-size: 12px;
        width: 22.5px;
    }
    
    .sketch-create-gallery-text3{
        display: none;
    }

    .sketch-create-gallery-text3-mobile{
        display: inline;
        margin-top: 7%;
        font-size: 13.5px;
    }

    .calculate-example-wrapper{
        flex-wrap: wrap;
        margin-top: 30%;
    }

    .calculate-header-div{
        margin-top: 23%;
        margin-bottom: 25%;
    }

    .calculate-header{
        font-size: 24px;
    }
    
    .calculate-header-text{
        margin-top: 7%;
        font-size: 14px;
    }

    .how-to-work-img-paint{
        width: 65%;
        margin-left: 15%;
    }

}

@media screen and (max-width: 700px)
{
    .about-header-text{
        font-size: 22px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 20px;
        height: 20px;
        font-size: 20px;
        border: 1.5px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 10px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 50%;
    }
    
    .how-to-work-img{
        width: 60%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 40%;
    }
    
    .how-to-work-text-div
    {
        top: 110%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 13px;
        top: 0%;
    }

    .sketch-create-header{
        font-size: 24px;
    }

    .sketch-create-wrapper{
        margin-top: 10%;
    }

    .sketch-create-gallery-num1{
        margin-top: 2%;
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text1{
        margin-top: 7%;
        font-size: 13px;
    }
    
    .sketch-create-gallery-num2{
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text2-mobile{
        margin-top: 6.5%;
        font-size: 13px;
        display: inline;
    }
    
    .sketch-create-gallery-num3{
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text3-mobile{
        display: inline;
        margin-top: 7%;
        font-size: 13px;
    }

    .calculate-header-div{
        margin-top: 25%;
        margin-bottom: 25%;
    }

    .calculate-header{
        font-size: 23px;
    }
    
    .calculate-header-text{
        margin-top: 7%;
        font-size: 13px;
    }

    .calculate-example-wrapper{
        flex-wrap: wrap;
        margin-top: 30%;
    }
    
    .calculate-example-div{
        display: flex;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        width: 20%
    }
    
    .calculate-example-star-div{
        margin-top: 3%;
    }
    
    .calculate-example-star{
        width: 8%;
        margin: 1%;
    }
    
    .calculate-example-img{
        margin-top: 1%;
        width: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
    }
    
    .calculate-example-price{
        margin-top: 2%;
        font-size: 15px;
    }

    .how-to-work-img-paint{
        width: 68%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 600px)
{
    .about-header-text{
        font-size: 21px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        margin-bottom: 11%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 20px;
        height: 20px;
        font-size: 20px;
        border: 1.5px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 10px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 60%;
    }
    
    .how-to-work-img{
        width: 80%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 52%;
    }
    
    .how-to-work-text-div
    {
        top: 130%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 10px;
        top: 0%;
    }

    .about-work-wrapper{
        margin-bottom: -15%;
    }
    
    .about-work-item{
        margin: 1%;
    }
    
    .about-work-img-block{
        height: 25.5vh;
    }
    
    .about-work-img{
        width: 40%;
    }
    
    .about-work-blue-text{
        top: 50%;
        left: 0%;
        font-size: 13px;
    }

    .sketch-create-header{
        font-size: 22px;
    }

    .sketch-create-wrapper{
        margin-top: 10%;
    }

    .sketch-create-gallery-num1{
        margin-top: 3%;
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text1{
        margin-top: 10%;
        font-size: 13px;
    }
    
    .sketch-create-gallery-num2{
        margin-top: 2.5%;
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text2-mobile{
        margin-top: 9%;
        font-size: 13px;
        display: inline;
    }
    
    .sketch-create-gallery-num3{
        margin-top: 2.5%;
        font-size: 12px;
        width: 22.5px;
    }

    .sketch-create-gallery-text3-mobile{
        display: inline;
        margin-top: 9%;
        font-size: 13px;
    }

    .calculate-header-div{
        margin-top: 32%;
        margin-bottom: 30%;
    }

    .calculate-header{
        font-size: 22px;
    }
    
    .calculate-header-text{
        margin-top: 8%;
        font-size: 12.5px;
    }

    .calculate-example-wrapper{
        margin-top: 35%;
    }
    
    .calculate-example-div{
        flex-wrap: wrap;
        width: 40%
    }
    
    .calculate-example-star-div{
        margin-top: 3%;
    }
    
    .calculate-example-star{
        width: 8%;
        margin: 1%;
    }
    
    .calculate-example-img{
        margin-top: 1%;
        width: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
    }
    
    .calculate-example-price{
        margin-top: 2%;
        font-size: 15px;
    }

    .how-to-work-img-paint{
        width: 85%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 500px)
{
    .about-header-text{
        font-size: 20px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        margin-bottom: 11%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 12%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 11%;
    }
    
    .how-to-work-num{
        width: 20px;
        height: 20px;
        font-size: 20px;
        border: 1.5px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 10px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 60%;
    }
    
    .how-to-work-img{
        width: 80%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 52%;
    }
    
    .how-to-work-text-div
    {
        top: 130%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 10px;
        top: 0%;
    }

    .sketch-create-header{
        display: none;
    }

    .sketch-create-wrapper{
        display: none;
    }

    .calculate-header-div{
        margin-top: 0%;
        margin-bottom: 30%;
    }

    .calculate-header{
        font-size: 18px;
    }
    
    .calculate-header-text{
        margin-top: 8%;
        font-size: 11px;
    }

    .calculate-example-wrapper{
        margin-top: 40%;
    }

    .calculate-example-div{
        flex-wrap: wrap;
        width: 40%
    }
    
    .calculate-example-star-div{
        margin-top: 3%;
    }
    
    .calculate-example-star{
        width: 8%;
        margin: 1%;
    }
    
    .calculate-example-img{
        margin-top: 1%;
        width: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
    }
    
    .calculate-example-price{
        margin-top: 2%;
        font-size: 13px;
    }

}

@media screen and (max-width: 400px)
{
    .about-header-text{
        font-size: 19px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        margin-bottom: 11%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 15%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 15%;
    }
    
    .how-to-work-num{
        width: 20px;
        height: 20px;
        font-size: 20px;
        border: 1.5px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 10px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 90%;
    }
    
    .how-to-work-img{
        width: 80%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 52%;
    }
    
    .how-to-work-text-div
    {
        top: 150%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 10px;
        top: 0%;
    }
    .about-work-wrapper{
        margin-bottom: -10%;
        flex-direction: column;
    }
    
    .about-work-item{
        margin: 3%;
    }
    
    .about-work-img-block{
        height: 15vh;
    }
    
    .about-work-img{
        width: 35%;
    }
    
    .about-work-blue-text{
        top: 60%;
        left: 0%;
        font-size: 12px;
    }

    .sketch-create-header{
        font-size: 18px;
    }

    .sketch-create-wrapper{
        margin-top: 12%;
    }

    .calculate-header-div{
        margin-top: 0%;
        margin-bottom: 32%;
    }

    .calculate-header{
        font-size: 16px;
    }
    
    .calculate-header-text{
        margin-top: 8%;
        font-size: 10px;
    }

    .calculate-example-div{
        flex-wrap: wrap;
        width: 40%
    }
    
    .calculate-example-star-div{
        margin-top: 3%;
    }
    
    .calculate-example-star{
        width: 8%;
        margin: 1%;
    }
    
    .calculate-example-img{
        margin-top: 1%;
        width: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
    }
    
    .calculate-example-price{
        margin-top: 2%;
        font-size: 12px;
    }
}

@media screen and (max-width: 350px)
{
    .about-header-text{
        font-size: 18px;
    }

    .how-to-work-wrapper{
        margin-top: 2%;
        margin-bottom: 11%;
        width: 80vw;
    }

    .how-to-work-div{
        width: 15vw;
        height: 15vw;
        margin-top: 15%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 20%;
    }
    
    .how-to-work-num{
        width: 20px;
        height: 20px;
        font-size: 20px;
        border: 1.5px solid;
        border-color: white;
        border-radius: 100px;
        top: -5%;
    }
    
    .how-to-work-num-text{
        font-size: 10px;
    }
    
    .how-to-work-img-div{
        width: 12.5vw;
        height: 12.5vw;
        margin-top: 100%;
    }
    
    .how-to-work-img{
        width: 90%;
    }
    
    .how-to-work-img1{
        margin-top: -1%;
        margin-left: 10%;
        width: 61%;
    }
    
    .how-to-work-text-div
    {
        top: 170%;
        left: 50%;
    }
    
    .how-to-work-text{
        font-size: 10px;
        top: 0%;
    }

    .about-work-img-block{
        height: 23vh;
    }

    .sketch-create-header{
        font-size: 16px;
    }

    .calculate-header-div{
        margin-top: 0%;
        margin-bottom: 32%;
    }

    .calculate-header{
        font-size: 15px;
    }
    
    .calculate-header-text{
        margin-top: 8%;
        font-size: 10px;
    }

    .calculate-example-wrapper{
        margin-top: 50%;
    }

    .calculate-example-div{
        width: 40%
    }
    
    .calculate-example-star-div{
        margin-top: 3%;
    }
    
    .calculate-example-star{
        width: 8%;
        margin: 1%;
    }
    
    .calculate-example-img{
        margin-top: 1%;
        width: 80%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
    }
    
    .calculate-example-price{
        margin-top: 3%;
        font-size: 11.5px;
    }
}

a{
    text-decoration: none !important;
}

span{
    font-family: "AvenirNextCyr-Regular";
  }