.gallery-wrapper-block-show{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 67, 76, 0.5);
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }

    .gallery-wrapper-block-show.is-close{
        -webkit-animation-name: zoomOut;
        animation-name: zoomOut;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes zoomOut {
        0% {
        opacity: 1;
        }
        
        50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        100% {
        opacity: 0;
        }
        }
        @keyframes zoomOut {
        0% {
        opacity: 1;
        }
        50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        100% {
        opacity: 0;
        }
        } 

.gallery-img-block{
    max-width: 60vw;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    user-select: none;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
}

.gallery-back-arrow{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 9.4%;
    cursor: pointer;
}

.gallery-back-arrow:hover{
    filter: invert(5%);
}

.gallery-forward-arrow{
    position: absolute;
    top: 40%;
    right: 5%;
    width: 9.4%;
    cursor: pointer;
}

.gallery-forward-arrow:hover{
    filter: invert(5%);
}

.gallery-close-btn{
    margin-top: 3%;
    margin-left: 80vw;
    width: 5%;
    cursor: pointer;
    transition: filter 0.5s;
}

.gallery-close-btn:hover{
    filter: invert(20%);
}

@media screen and (max-width: 1000px)
{
    .gallery-img-block{
        top: 27%;
    }
}

@media screen and (max-width: 700px)
{
    .gallery-img-block{
        top: 27%;
    }
}

@media screen and (max-width: 600px)
{
    .gallery-img-block{
        top: 30%;
    }
}

@media screen and (max-width: 500px)
{
    .gallery-img-block{
        top: 33%;
    }
}

@media screen and (max-width: 400px)
{
    .gallery-img-block{
        top: 35%;
    }
}