.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-black {
  background-color: black;
}

.navbar-toggler-icon {
  background-image: url('./assets/main/captures.png') !important;
}

.arc-dark {
  background-color: #282c34 !important;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  background-color: #000000;
}

.container-fluid{
  margin: 0% !important;
  display: flex !important;
  justify-content: space-between;
}

.phoneText{
  margin-right: 0;
}

.mailText{
  transform: translate(-100%, 0);
}

.carousel-control-next-icon{
  background-image: url('./assets/main/nextArrow.png') !important;
  display: flex !important;
  height: 5% !important;
  width: 11% !important;
  position: absolute;
  bottom: 5%;
}

.carousel-control-prev-icon{
  background-image: url("./assets/main/prevArrow.png") !important;
  display: flex !important;
  position: absolute;
  height: 5% !important;
  width: 11% !important;
  bottom: 5%;
}


@media screen and (max-width: 980px)
{
  .phoneText{
    margin-right: 0;
    display: none;
  }

  .carousel-control-next-icon{
    display: none !important;
  }

  .carousel-control-prev-icon{
    display: none !important;
  }
}

@media screen and (max-width: 1300px)
{
  .mailText{
    display: none;
  }
}